/* 학력 섹션 */
.education {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 20px;
  color: #fff;
  background-color: #111;
}

/* 제목 스타일 */
.education h2 {
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 30px;
  color: #fff;
}

/* 각 학력 항목 */
.education-item {
  text-align: left;
  background-color: #1c1c1c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #fff;
}

.education-item .school {
  font-size: 1.8rem;
  color: #eaeaea;
  margin-bottom: 10px;
}

.education-item .major,
.education-item .period {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #cfcfcf;
}

/* 각 항목 구분 */
.education-item .section-title {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* 모바일 및 작은 화면에서 반응형 설정 */
@media (max-width: 768px) {
  .education {
    margin-left: 0px;
    width: 100%;
    padding: 15px;
  }

  .education h2 {
    font-size: 2rem;
  }

  .education-item {
    padding: 15px;
  }

  .education-item .school {
    font-size: 1.5rem;
  }

  .education-item .major,
  .education-item .period {
    font-size: 1rem;
  }

  .education-item .section-title {
    font-size: 0.9rem;
  }
}